.Notification {
  cursor: pointer;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.Notification:nth-of-type(even) {
  background: rgb(225, 238, 248);
}

.Notification:nth-of-type(odd) {
  background: rgb(246, 246, 248);
}

.Notification a {
  text-decoration: none;
}

.Notification p {
  text-align: left;
  color: hsl(0, 0%, 27%);
  padding-left: 5px;
}

.Notification span {
  color: #777777 !important;
}

.Notification:hover {
  transition: 0.2s;
  background: #0090d3;
  color: white;
}

.Notification small {
  text-align: left;
  color: #777777;
  margin-right: 10px;
  padding-left: 5px;
}

.Notification:hover p span {
  color: #fff !important;
}

.Notification:hover p {
  color: #fff !important;
}

.Notification:hover small {
  color: #fff !important;
}

.Notification:hover small span {
  color: #fff !important;
}

.responsesBlock {
  margin-right: 12px;
}

.responsesBlock p span {
  color: green !important;
}
