
.radioMenu p {
  display: inline;
}

.radioMenu input {
  margin-left: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;

  position: relative;
  top: 2px;
}

.radioMenu input:checked {
  border: 8px solid rgb(107, 107, 107);
}

.editorSection {
  border: 1px solid #4d4d4d;
  border-radius: 2px;
  background-color: #fff;
}

.formActions {
  display: flex;
  justify-content: space-between;
}

.formBack {
  padding-top: 1.5em;
}

.sendButton {
  margin-top: 1em;
  height: 40px;
  width: 100px;
  background: #5969E2;
  border-radius: 2px;
  padding: 2px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.sendButton:hover {
  background: rgb(74, 87, 189);
}
