.Input {
  position: relative;
  width: 100%;
  margin: 10px auto;
}

.Input input {
  padding: 2px 10px;
  width: 100%;
  height: 40px;
  border: 1px solid #4d4d4d;
  border-radius: 2px;
}

.Input input:focus {
  outline: none;
  border: 1px solid #5969e2;
}

.Input .icon {
  position: absolute;
  top: 11px;
  left: 10px;
}

.Input .error {
  border: 1px solid #dc3545;
}

.error-message {
  color: #dc3545;
}
