.inputContainer {
  position: relative;
  margin: 10px;
}

input {
  padding: 2px 10px;
  width: 288px;
  height: 40px;
  border: 1px solid #4d4d4d;
  border-radius: 2px;
}

input:focus {
  outline: none;
  border: 1px solid #5969E2;
}

.icon{
  position: absolute;
  top: 10px;
  left: 10px;

}

