.inputContainer {
  position: relative;
  width: 288px;
  margin: 10px 0;
}

.inputContainer input {
  padding: 2px 10px;
  width: 100%;
  height: 40px;
  border: 1px solid #4d4d4d;
  border-radius: 2px;
}

.inputContainer input:focus {
  outline: none;
  border: 1px solid #5969e2;
}

.inputContainer .icon{
  position: absolute;
  top: 10px;
  left: 10px;
}
