.btn-danger {
  background: #5969E2;
  border-color: #5969E2;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  outline: none !important;
}

.btn-danger:hover {
  background: rgb(74, 87, 189);
  border-color: rgb(74, 87, 189);
}

.btn-danger:focus {
  outline: none !important;
}

.false {
  background: rgb(226, 226, 226);
}

.announcementsTab

.showAllButton {
  text-align: center;
}

.showAllButton button {
  margin-top: 1em;
  height: 40px;
  width: 100px;
  background: #fff;
  border-radius: 2px;
  color: #5969E2;
  border-color: #5969E2;
  padding: 2px;
}

.showAllButton button:hover {
  margin-top: 1em;
  height: 40px;
  width: 100px;
  background: rgb(74, 87, 189);
  border-radius: 2px;
  color: #fff;
  padding: 2px;
}