.RadioMenu p {
  display: inline;
}

.RadioMenu input {
  margin-left: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.RadioMenu input:checked {
  border: 8px solid rgb(107, 107, 107);
}
