textarea {
  width: 100%;
}

.char-length {
  margin-top: 1.05em;
  background: #F0F3F8;
}

@media (min-width: 576px) {
  .char-length {
    background: #fff;
  }
}

.char-limit-reached {
  color: #dc3545;
}
