.DesktopNav {
  width: 200px;
  flex: 0 0 auto;
}

.DesktopNav ul li a {
  color: #04628F;
}

.DesktopNav span {
  color: rgb(101, 190, 228);
}

.logo {
  width: 100%;
}

.selected {
  font-weight: bold;
  color: #5969E2;
}

.selected ul li a {
  color: #5969E2;
}

.selected span {
  color: #5969E2;
}