* {
  outline: none;
  font-family: 'Raleway', sans-serif;
  text-rendering: optimizeLegibility;
}

.headerBar {
  display: block;
  position: absolute;
  width: 100%;
  height: 50px;
  background: #0090d3;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  justify-content: space-between;
  z-index: -1;
}

.headerBar h2 {
  margin-left: 20px;
}

@media (min-width: 576px) {
  .headerBar {
    display: none;
  }
}
