.Message p {
  color: #777777;
}

.Message a {
  color: #777777;
  text-decoration: underline;
}

.Message p {
  color: #212529;
  padding-left: 5px;
}

.Message:nth-of-type(even) {
  background: rgb(225, 238, 248);
}

.Message:nth-of-type(odd) {
  background: rgb(246, 246, 248);
}
